/* General styles */
main {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

h1 {
  margin-top: 1rem;
}

h2, h3 {
  margin-top: 1rem;
}

/* Course list */
.course-card {
  width: 18rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  float: left;
}
.course-card .card-body {
  display: block;
  text-decoration: none;
}

/* Breadcrumbs */
.my-breadcrumb {
  margin-left: -0.5em;
}
.my-breadcrumb .nav-item .nav-link {
  padding-left: 0;
}
.my-breadcrumb .nav-item .nav-link::before {
  display: inline-block;
  padding-right: .5em;
  color: #6c757d;
  content: "/";
}

/* Exam list */
.exam-item-outline {
  color: #212529;
}

/* Exam slot form */
/* Credit: https://stackoverflow.com/a/48273098/689161 */
.exam-slot-group input[type=radio] {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.exam-slot-group .list-group-item {
  user-select: none;
  cursor: pointer;
}
.exam-slot-group .list-group-item:first-of-type {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.exam-slot-group input[type=radio]:checked + .list-group-item {
  z-index: 2;
  border-color: #17a2b8;
  color: #0c5460;
  background-color: #d1ecf1;
}
.exam-slot-group input[type=radio] + .list-group-item .exam-slot-icon {
  visibility: hidden;
}
.exam-slot-group input[type=radio]:checked + .list-group-item .exam-slot-icon {
  visibility: visible;
}
