<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}Page{% endblock %}
    &mdash; Exam Registration System
  </title>

  {% load static %}
  <link href="{% static 'vendor/bootstrap-4.4.1/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'registration:index' %}">Exam Registration System</a>

    <!-- Left-aligned breadcrumbs -->
    <ol class="navbar-nav mr-auto my-breadcrumb" aria-label="breadcrumb">
      {% block breadcrumb %}{% endblock %}
    </ol>

    <!-- Right-aligned account items -->
    <ul class="navbar-nav ml-auto">
      {% if request.session.sudo_user %}
      <li class="nav-item">
        <a class="nav-link"
            href="{% url 'registration:course-sudo' request.session.sudo_user.course_code %}"
            title="Sudo {% if request.sudo_enabled %}enabled{% else %}disabled{% endif %} for this page"
            style="{% if not request.sudo_enabled %}text-decoration: line-through{% endif %}">
          <i class="fa fa-user-secret" aria-hidden="true"></i>
          <span class="sr-only">
            (Sudo
            {% if request.sudo_enabled %}enabled{% else %}disabled{% endif %}
            for this page)
          </span>
          Acting as
          <strong>{{ request.session.sudo_user.username }}</strong>
        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration:profile' %}">
          <i class="fa fa-user" aria-hidden="true"></i>
          {% if user.is_authenticated %}
          {{ user.get_username }}
          {% else %}
          Not logged in
          {% endif %}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/Shibboleth.sso/Logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    </ul>

  </nav>

  <main role="main" class="container">
    {% include 'partials/messages.html' %}
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
