<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}Page{% endblock %}
    &mdash; Exam Registration System
  </title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'registration:index' %}">Exam Registration System</a>

    <!-- Left-aligned breadcrumbs -->
    <ol class="navbar-nav mr-auto my-breadcrumb" aria-label="breadcrumb">
      {% block breadcrumb %}{% endblock %}
    </ol>

    <!-- Right-aligned account items -->
    <ul class="navbar-nav ml-auto">
      {% if request.session.sudo_user %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration:course-sudo' request.session.sudo_user.course_code %}">
          <i class="fa fa-user-secret" aria-hidden="true"></i>

          {% if request.sudo_enabled %}
          <i class="fa fa-check" aria-hiden="true"></i>
          <span class="sr-only">(Sudo enabled for this page)</span>
          <span title="Sudo enabled for this page">
          {% else %}
          <i class="fa fa-ban" aria-hiden="true"></i>
          <span class="sr-only">(Sudo disabled for this page)</span>
          <s title="Sudo disabled for this page">
          {% endif %}

            Acting as {{ request.session.sudo_user.str }}

          {% if request.sudo_enabled %}
          </span>
          {% else %}
          </s>
          {% endif %}

        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration:profile' %}">
          <i class="fa fa-user" aria-hidden="true"></i>
          {% if user.is_authenticated %}
          {{ user.get_username }}
          {% else %}
          Not logged in
          {% endif %}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    </ul>

  </nav>

  <main role="main" class="container">
    {% include 'partials/messages.html' %}
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
