{% extends "base_generic.html" %}

{% block title %}Edit exam &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <a class="nav-link" href="{% url 'registration:exam-detail' course.code exam.pk %}">{{ exam.name }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Edit</span>
</li>
{% endblock %}

{% block content %}

<h1>
  Edit exam
  <small class="text-muted">{{ exam.name }}</small>
</h1>

{% load crispy_forms_tags %}

<form action="" method="POST">
  {% csrf_token %}

  {{ form|crispy }}


  <h2>Time slots</h2>
  <p>
    A time slot is a discrete, unique block of time. Time slots cannot overlap
    each other, and each exam slots consists of multiple time slots.
  </p>
  <p>
    Each time slot has a capacity, which represents the maximum number of
    students who can register for that slot. When a student selects an exam
    slot, they take up one seat in each of the time slots that it contains.
  </p>

  {% crispy timeslot_formset timeslot_helper %}


  <h2>Exam slots</h2>

  {% crispy examslot_formset examslot_helper %}

  <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock %}
