{% extends "base_generic.html" %}

{% block title %}Manage users &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Users</span>
</li>
{% endblock %}

{% block content %}

<h1>
  Manage users
  <small class="text-muted">{{ course.code }}</small>
</h1>

<div class="mt-4">
  <a class="btn btn-success" role="button" href="{% url 'registration:course-users-create' course.code %}" title="Enroll new users">
    <i class="fa fa-plus" aria-hidden="true"></i>
    &nbsp;Enroll new user
  </a>
  <a class="btn btn-info" role="button" href="{% url 'registration:course-users-import' course.code %}" title="Import course roster">
    <i class="fa fa-upload" aria-hidden="true"></i>
    &nbsp;Import course roster
  </a>
</div>

<div class="table-responsive-md mt-4">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">User type</th>
        <th scope="col">Lecture</th>
        <th scope="col">Section</th>
        <th scope="col">Dropped</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>

    <tbody>
      {% for course_user in course.course_user_set.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</td>
        <td>{{ course_user.user.username }}</td>
        <td>{{ course_user.user.first_name }}</td>
        <td>{{ course_user.user.last_name }}</td>
        <td>
          {% if course_user.user_type == 'i' %}
          Instructor
          {% elif course_user.user_type == 's' %}
          Student
          {% else %}
          Unknown ({{ course_user.user_type }})
          {% endif %}
        </td>
        <td>
          {{ course_user.lecture }}
        </td>
        <td>
          {{ course_user.section }}
        </td>
        <td>
          {{ course_user.dropped|yesno:"yes,no" }}
        </td>
        <td>
          <a href="{% url 'registration:course-users-edit' course.code course_user.pk %}" title="Edit user">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span class="sr-only">Edit user</span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
