{% extends "base_generic.html" %}

{% block title %}Course settings &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Settings</span>
</li>
{% endblock %}

{% block content %}

<h1>
  Course settings
  <small class="text-muted">{{ course.code }}</small>
</h1>

{% load crispy_forms_tags %}

<form action="" method="POST">
  {% csrf_token %}

  <table>
    {{ form|crispy }}
  </table>

  <input class="btn" type="submit" value="Submit">
</form>

{% endblock %}
