{% extends "base_generic.html" %}

{% block title %}Manage course &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Manage</span>
</li>
{% endblock %}

{% block content %}
<h1>
  Manage course
  <small class="text-muted">{{ course.code }}</small>
</h1>

<div class="row">

  <div class="col-lg-6">
    <h2>Options</h2>
    <div class="list-group">
      <a href="{% url 'registration:course-manage-edit' course.code %}"
         class="list-group-item list-group-item-action list-group-item-primary flex-column align-items-start">
        Edit course
      </a>
      <a href="{% url 'registration:course-manage-users' course.code %}"
         class="list-group-item list-group-item-action list-group-item-primary flex-column align-items-start">
        Manage users
      </a>
    </div>
  </div>


  <div class="col-lg-6">
    <h2>Course exams</h2>
    <div class="list-group">
      {% for exam in course.exam_set.all %}

      <a href="{% url 'registration:exam-detail' course.code exam.id %}"
         class="list-group-item list-group-item-action flex-column align-items-start">
        <h5 class="mb-1">{{ exam.name }}</h5>
      </a>

      {% endfor %}
    </div>
  </div>

{% endblock %}
