{% extends "base_generic.html" %}

{% block title %}Act as user &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Act as user</span>
</li>
{% endblock %}

{% block content %}

    {% if request.session.sudo_user %}
    <div class="border border-danger px-3 py-2 mb-4 rounded">
      You are acting as user <strong>{{ request.session.sudo_user.username }}</strong>
      in <strong>{{ request.session.sudo_user.course_code }}</strong>.&nbsp;
      <button id="clear-sudo" class="btn btn-sm btn-danger">Cancel</button>
    </div>
    {% endif %}

<div class="row">
  <div class="col-lg-8">
    <h1>
      Act as user
      <small class="text-muted">{{ course.code }}</small>
    </h1>

    <p class="lead">
      The sudo option allows you to act as if you are another user.
    </p>
    <p>
      However, you will only be able to act as that user within this course,
      {{ course.code }}. Additionally, you will only be able to sudo as one
      user across all courses: enabling the sudo option in another course will
      disable it for the current course.
    </p>
    <p>
      An indicator in the navigation bar will display the user for which you
      have activated the sudo option, and whether it is activated on the
      current page. Select it at any time to return to this page.
    </p>

    <h2>Select user to sudo</h2>
    {% load crispy_forms_tags %}

    <form action="" method="POST" id="sudo-form">
      {% csrf_token %}

      <table>
        {{ form|crispy }}
      </table>

      <input type="submit" class="btn btn-primary" value="Submit">
    </form>

  </div>
</div>

<script>
  var clearSudoBtn = document.getElementById('clear-sudo');
  var selectUserInput = document.getElementById('id_user');
  var sudoForm = document.getElementById('sudo-form');
  if (clearSudoBtn) {
    clearSudoBtn.addEventListener('click', function(e) {
      e.preventDefault();
      selectUserInput.value = '';
      sudoForm.submit();
    });
  }
</script>

{% endblock %}
