{% extends "base_generic.html" %}

{% block title %}{{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active" aria-current="page">
  <span class="nav-link">{{ course.code }}</span>
</li>
{% endblock %}

{% block content %}
<h1>
  {{ course.name }}
  <small class="text-muted">{{ course.code }}</small>
</h1>

<h3>You need to link your GitHub account before creating your repository.</h3>

<div class="border border-light p-4 bg-light rounded">
  <p>You have not yet linked a GitHub account.</p>
  <a href="{% url 'registration:course-github-authorize' course.code %}" class="btn btn-primary btn-large">Link GitHub account</a>
</div>


{% endblock %}
