{% extends "base_generic.html" %}

{% block title %}Enroll new user &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <a class="nav-link" href="{% url 'registration:course-users' course.code %}">Users</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Enroll</span>
</li>
{% endblock %}

{% block content %}

<h1>
  Enroll new user
  <small class="text-muted">{{ course.code }}</small>
</h1>

{% load crispy_forms_tags %}

<form action="" method="POST">
  {% csrf_token %}

  <table>
    {{ form|crispy }}
  </table>

  <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock %}
