{% extends "base_generic.html" %}

{% block title %}Exam registration &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <a class="nav-link" href="{% url 'registration:exam-detail' course.code exam.pk %}">{{ exam.name }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <a class="nav-link" href="{% url 'registration:exam-signups' course.code exam.pk %}">Signups</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">{{ course_user.user.username }}</span>
</li>
{% endblock %}

{% block content %}

<h1>
  Exam registration &langle;{{ course_user.user.username }}&rangle;
  <small class="text-muted">{{ exam.name }}</small>
</h1>


<div class="row">
  <div class="col-md-6">
    <h2>User data</h2>
    <div class="border border-light p-4 bg-light rounded">
      <dl class="row mb-0">
        <dt class="col-sm-4">Username</dt>
        <dd class="col-sm-8">{{ course_user.user.username }}</dd>

        <dt class="col-sm-4">Name</dt>
        <dd class="col-sm-8">{{ course_user.user.first_name }} {{ course_user.user.last_name }}</dd>

        <dt class="col-sm-4">Exam slot type</dt>
        <dd class="col-sm-8">{{ course_user.exam_slot_type_display }}</dd>
      </dl>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Selected registration</h2>
    <div class="border border-light p-4 bg-light rounded">
      <dl class="row mb-0">
        <dt class="col-sm-4">Date</dt>
        <dd class="col-sm-8">{{ exam_reg.exam_slot.get_start_time|date:"l, F j, Y" }}</dd>

        <dt class="col-sm-4">Time</dt>
        <dd class="col-sm-8">{{ exam_reg.exam_slot.get_start_time|time:"h:i a" }}</dd>

        <dt class="col-sm-4">Exam slot type</dt>
        <dd class="col-sm-8">{{ exam_reg.exam_slot.exam_slot_type_display }}</dd>
      </dl>
    </div>
  </div>
</div>

{% load crispy_forms_tags %}

<hr>

<h2>Check-in and check-out</h2>

<div class="card-deck">

  <div class="card bg-info text-white">
    <div class="card-body">
      <h5 class="card-title">Exam password</h5>
      {% if exam_reg.checkin_time %}

      {% if exam_reg.exam_password %}
      <tt class="lead">{{ exam_reg.exam_password }}</tt>
      {% else %}
      <p class="card-text">The exam password is empty.</p>
      {% endif %}

      {% else %}
      <p class="card-text">Check in to see the password.</p>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Check-in status</h5>
      {% if exam_reg.checkin_time %}
      <p class="card-text">
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        &nbsp;This user was checked in
        at <strong>{{ exam_reg.checkin_time }}</strong>
        by user <strong>{{ exam_reg.checkin_user.user.username }}</strong>
        in room <strong>{{ exam_reg.checkin_room.name }}</strong>.
      </p>
      {% else %}
      <p class="card-text">
        This user has not been checked in yet.
      </p>

      <form action="{% url 'registration:exam-signups-checkin' course.code exam.id course_user.user.username %}" method="POST">
        {% csrf_token %}
        {{ checkin_form|crispy }}
        <input class="btn btn-success" type="submit" value="Check-in">
      </form>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Check-out status</h5>
      {% if exam_reg.checkout_time %}
      <p>
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        &nbsp;This user was checked out
        at <strong>{{ exam_reg.checkout_time }}</strong>
        by user <strong>{{ exam_reg.checkout_user.user.username }}</strong>.
      </p>
      {% else %}
      <p>
        This user has not been checked out yet.
      </p>

      <form action="{% url 'registration:exam-signups-checkout' course.code exam.id course_user.user.username %}" method="POST">
        {% csrf_token %}
        {{ checkout_form|crispy }}
        <input class="btn btn-success" type="submit" value="Check-out">
      </form>
      {% endif %}
    </div>
  </div>

</div>

<hr>

<h2>Edit data</h2>
<p>
  You can manually view and edit check-in information below.
</p>

<form action="{% url 'registration:exam-signups-detail' course.code exam.id course_user.user.username %}" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="Save changes">
</form>
{% endblock %}
