{% extends "base_generic.html" %}

{% block title %}Signups &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <a class="nav-link" href="{% url 'registration:exam-detail' course.code exam.pk %}">{{ exam.name }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Signups</span>
</li>
{% endblock %}

{% block content %}

<h1>
  Signups
  <small class="text-muted">{{ exam.name }}</small>
</h1>

<p>
  This section lists the available exam slots, and shows which users are
  registered for each of them.
</p>
<div>
  {# Group exam slots by day #}
  {% regroup exam_slots by day as exam_day_list %}
  {% for exam_day in exam_day_list %}

  <div class="mt-4">
    <h3>{{ exam_day.grouper|date:"l, F j, Y" }}</h3>

    <div class="table-responsive-md">
      <table class="table table-sm table-hover">

        <thead class="thead-light">
          <tr>
            <th scope="col">Slot time</th>
            <th scope="col">Slot type</th>
            <th scope="col">User</th>
            <th scope="col">Check-in status</th>
            <th scope="col">Checked-in by</th>
            <th scope="col">Check-in room</th>
          </tr>
        </thead>

        <tbody>
          {% for slot in exam_day.list %}
          {% for exam_reg in slot.exam_registration_set.all %}
          {% with exam_reg.course_user as course_user %}

          <tr>
            <td>{{ slot.get_start_time|time:"h:i a" }}</td>
            <td>{{ slot.exam_slot_type_display }}</td>

            <td>
              {{ course_user.user.first_name }}
              {{ course_user.user.last_name }}
              <span class="text-muted">({{ course_user.user.username }})</span>
              <a href="{% url 'registration:course-users-edit' course.code course_user.id %}" target="_blank">
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </td>

            <td>
              {% if exam_reg.checkin_time_in %}
              Checked in at {{ exam_reg.checkin_time_in|time:"h:i a" }}
              <a href="{% url 'registration:exam-signups-detail' course.code exam.pk exam_reg.course_user.user.username %}" target="_blank">
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
              {% else %}
              <a class="text-danger" href="{% url 'registration:exam-signups-detail' course.code exam.pk exam_reg.course_user.user.username %}" target="_blank">
                <strong>Check in now</strong>
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
              {% endif %}
            </td>

            <td>{{ exam_reg.checkin_user.user.username }}</td>
            <td>{{ exam_reg.checkin_room.name }}</td>
          </tr>

          {% endwith %}
          {% endfor %}
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>

  {% endfor %}
</div>

<hr>

<h2>Unregistered users</h2>
<p>
  This section lists the users in your course who have not yet registered
  for this exam.
</p>
<div class="table-responsive-md mt-4">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">User type</th>
        <th scope="col">Exam type</th>
        <th scope="col">Lecture</th>
        <th scope="col">Section</th>
        <th scope="col">Dropped</th>
      </tr>
    </thead>

    <tbody>
      {% for course_user in unregistered_users %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          {{ course_user.user.first_name }}
          {{ course_user.user.last_name }}
          <span class="text-muted">({{ course_user.user.username }})</span>
          <a href="{% url 'registration:course-users-edit' course.code course_user.id %}" target="_blank">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </td>
        <td>{{ course_user.user_type_display }}</td>
        <td>{{ course_user.exam_slot_type_display }}</td>
        <td>{{ course_user.lecture }}</td>
        <td>{{ course_user.section }}</td>
        <td>{{ course_user.dropped|yesno }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
