{% extends "base_generic.html" %}

{% block title %}Signups &mdash; {{ course.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' course.code %}">{{ course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <a class="nav-link" href="{% url 'registration:exam-detail' course.code exam.pk %}">{{ exam.name }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Signups</span>
</li>
{% endblock %}

{% block content %}

<h1>
  Signups
  <small class="text-muted">{{ exam.name }}</small>
</h1>

<p>
  This section lists the available exam slots, and shows which users are
  registered for each of them.
</p>

<div>
  <a class="btn btn-success" role="button" href="{% url 'registration:exam-signups-csv' course.code exam.pk %}" title="Download CSV">
    <i class="fa fa-download" aria-hidden="true"></i>
    &nbsp;Download CSV
  </a>
</div>

<hr class="mt-4">

{# Group exam slots by day #}
{% regroup exam_slots by day as exam_day_list %}

<p>
  Jump to a specific exam slot:
</p>

<ul>
  {% for exam_day in exam_day_list %}
  <li>
    <a href="#examday-{{ exam_day.grouper|date:"Ymd" }}">
      {{ exam_day.grouper|date:"l, F j, Y" }}
    </a>
    <ul>
    {% for slot in exam_day.list %}
    {% if slot.exam_registration_set.count != 0 %}
      <li>
        <a href="#examslot-{{ slot.get_start_time|date:"Ymd-Hi" }}">
          {{ slot.get_start_time|time:"h:i a" }}
        </a>
      </li>
    {% endif %}
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<input type="text" id="exam-user-search" class="form-control" placeholder="Filter...">

<div>
  {% for exam_day in exam_day_list %}
  <hr class="mt-4">

  <div>
    <h2 id="examday-{{ exam_day.grouper|date:"Ymd" }}">
      <a href="#examday-{{ exam_day.grouper|date:"Ymd" }}" class="anchor-link">#</a>
      {{ exam_day.grouper|date:"l, F j, Y" }}
    </h2>

    {% for slot in exam_day.list %}
    {% if slot.exam_registration_set.count != 0 %}
    <h3 class="mt-4" id="examslot-{{ slot.get_start_time|date:"Ymd-Hi" }}">
      <a href="#examslot-{{ slot.get_start_time|date:"Ymd-Hi" }}" class="anchor-link">#</a>
      {{ slot.get_start_time|time:"h:i a" }}
      <span class="text-muted">
        &ndash; {{ slot.get_end_time|time:"h:i a" }}
      </span>
      <span class="text-muted">in</span>
      {{ slot.get_room }}
      <span class="text-muted">({{slot.exam_slot_type_display }})</span>
    </h3>
    <div class="table-responsive-md">
      <table class="table table-sm table-hover">

        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Lecture</th>
            <th scope="col">Section</th>
            <th scope="col">Check-in status</th>
            <th scope="col">Exam password</th>
            <th scope="col">Check-out status</th>
          </tr>
        </thead>

        <tbody>
          {% for exam_reg in slot.exam_registration_set.all %}
          {% with exam_reg.course_user as course_user %}

          <tr class="exam-user" data-examuser="{{ course_user.user.first_name }} {{ course_user.user.last_name }} {{ course_user.user.username }}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              {{ course_user.user.first_name }}
              {{ course_user.user.last_name }}
              <span class="text-muted">({{ course_user.user.username }})</span>
              <a href="{% url 'registration:course-users-edit' course.code course_user.id %}" target="_blank">
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </td>

            <td>{{ course_user.lecture }}</td>
            <td>{{ course_user.section }}</td>

            <td>
              {% if exam_reg.checkin_time %}
              <a class="text-success"
                  href="{% url 'registration:exam-signups-detail' course.code exam.pk course_user.user.username %}"
                  target="_blank"
                  title="Checked in by {{ exam_reg.checkin_user }}">
                <i class="fa fa-check" aria-hidden="true"></i>
                {{ exam_reg.checkin_time|time:"h:i a" }}
                ({{ exam_reg.checkin_room.name }})
              </a>
              {% else %}
              <a class="text-danger"
                  href="{% url 'registration:exam-signups-detail' course.code exam.pk course_user.user.username %}"
                  target="_blank">
                <strong>Check in</strong>
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
              {% endif %}
            </td>

            <td>
              {% if exam_reg.checkin_time %}
              <tt class="text-muted">{{ exam_reg.exam_password }}</tt>
              {% endif %}
            </td>

            <td>
              {% if exam_reg.checkout_time %}

              <a class="text-success"
                  href="{% url 'registration:exam-signups-detail' course.code exam.pk course_user.user.username %}"
                  target="_blank"
                  title="Checked out by {{ exam_reg.checkout_user }}">
                <i class="fa fa-check" aria-hidden="true"></i>
                {{ exam_reg.checkout_time|time:"h:i a" }}
              </a>
              {% else %}
              <a class="text-danger"
                  href="{% url 'registration:exam-signups-detail' course.code exam.pk course_user.user.username %}"
                  target="_blank">
                <strong>Check out</strong>
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
              {% endif %}
            </td>
          </tr>

          {% endwith %}
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% endif %}
    {% endfor %}

  </div>
  {% endfor %}

</div>

<hr class="mt-4">

<h2 id="examday-unregistered">
  <a href="#examday-unregistered" class="anchor-link">#</a>
  Unregistered users
</h2>
<p>
  This section lists the users in your course who have not yet registered
  for this exam.
</p>
<div class="table-responsive-md mt-4">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">User type</th>
        <th scope="col">Exam type</th>
        <th scope="col">Lecture</th>
        <th scope="col">Section</th>
        <th scope="col">Dropped</th>
      </tr>
    </thead>

    <tbody>
      {% for course_user in unregistered_users %}
      <tr class="exam-user" data-examuser="{{ course_user.user.first_name }} {{ course_user.user.last_name }} {{ course_user.user.username }}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          {{ course_user.user.first_name }}
          {{ course_user.user.last_name }}
          <span class="text-muted">({{ course_user.user.username }})</span>
          <a href="{% url 'registration:course-users-edit' course.code course_user.id %}" target="_blank">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </td>
        <td>{{ course_user.user_type_display }}</td>
        <td>{{ course_user.exam_slot_type_display }}</td>
        <td>{{ course_user.lecture }}</td>
        <td>{{ course_user.section }}</td>
        <td>{{ course_user.dropped|yesno }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elts = document.getElementsByClassName('exam-user');
      var searchBox = document.getElementById('exam-user-search');
      searchBox.addEventListener('input', function () {
        var content = searchBox.value;
        for (var i = 0; i < elts.length; i++) {
          var elt = elts[i];
          var s = elt.dataset.examuser;
          if (s.indexOf(content) != -1) {
            elt.style.display = '';
          } else {
            elt.style.display = 'none';
          }
        }
        console.log('changed', content);
      });
    });
  </script>
{% endblock %}
