{% extends "base_generic.html" %}

{% block title %}{{ exam.name }}{% endblock %}

{% block breadcrumb %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registration:course-detail' exam.course.code %}">{{ exam.course.code }}</a>
</li>
<li class="nav-item active" aria-current="page">
  <span class="nav-link">{{ exam.name }}</span>
</li>
{% endblock %}

{% block content %}
<h1>
  {{ exam.name }}
  <small class="text-muted">{{ exam.course.code }}</small>
</h1>

<p>
  {{ exam.details | linebreaks }}
</p>


<h2>Time slots</h2>
<div class="alert alert-warning" role="alert">
  All human-readable times are displayed in your current timezone,
  <tt>{{ request.user.timezone }}</tt>.
  You can change this setting in your
  <a href="{% url 'registration:profile' %}">profile</a>.
</div>
<ul>
  {% for slot in exam.time_slot_set.all %}
  <li>
    <p>
      <strong>{{ slot }}</strong><br>
      <em>Start:</em> {{ slot.start_time }}<br>
      <em>End:</em> {{ slot.end_time }}<br>
      <em>Rooms:</em> {{ slot.rooms.all }}<br>
      <em>Capacity:</em> {{ slot.capacity }}<br>
      <em>Registrations:</em> {{ slot.count_num_registered }}
    </p>
  </li>
  {% endfor %}
</ul>


<h2>Exam slots</h2>
<ul>
  {% for slot in exam.exam_slot_set.all %}
  <li>
    <p>
      <strong>{{ slot }}</strong><br>
      <em>Start:</em> {{ slot.start_time_slot }}<br>
      <em>All slots:</em> {{ slot.time_slots.all }}<br>
      <em>Registrations:</em> {{ slot.exam_registration_set.count }}<br>
      <em>Slots left:</em> {{ slot.count_slots_left }}
    </p>
  </li>
  {% endfor %}
</ul>

<h2>Exam slot selection</h2>
<p>Your current exam slot: {{ exam_reg.exam_slot }}</p>
<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Submit">
</form>

{% endblock %}
