{% extends "base_generic.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Exam Registration System</h1>

<h2>Courses</h2>

{# Loop through each course this user is in #}
<ul>
  {% for course_user in course_user_list %}
  {% with course_user.course as course %}
  <li>
    <a href="{% url 'registration:course-detail' course.code %}">
      {{ course.name }}
      <small class="text-muted">{{ course.code }}</small>
    </a>
  </li>


  {% endwith %}
  {% endfor %}
</ul>

{% endblock %}
