{% extends "base_generic.html" %}
{% block title %}Home{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<h2>Courses</h2>

{# Loop through each course this user is in #}
<div>

  {% for course_user in course_user_list %}
  {% with course_user.course as course %}

  <div class="card course-card text-white bg-info">
    <a class="card-body text-white" href="{% url 'registration:course-detail' course.code %}">
      <h5 class="card-title">{{ course.name }}</h5>
      <h6 class="card-subtitle text-white-50">{{ course.code }}</h6>
    </a>

    <div class="list-group list-group-flush">
      {% for exam_reg in course_user.exam_registration_set.all %}
      {% with exam_reg.exam as exam %}
      <a href="{% url 'registration:exam-detail' course.code exam.id %}"
          class="list-group-item list-group-item-action">
        {{ exam.name }}
      </a>
      {% endwith %}
      {% endfor %} {# exam_reg #}
    </div>
  </div>

  {% endwith %}
  {% endfor %} {# course_user #}
</div>

{% endblock %}
