{% extends "base_generic.html" %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}
<li class="nav-item active" aria-current="page">
  <span class="nav-link">Profile</span>
</li>
{% endblock %}

{% block content %}
<h2>Profile</h2>
<p>Current user: {{ request.user }}</p>
<p>Authenticated: {{ request.user.is_authenticated }}</p>
<p>Current timezone: {{ current_timezone }}</p>
<p>Current local time: {% now "DATETIME_FORMAT" %}</p>

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Submit">
</form>
{% endblock %}
